<div class="app-product-container" [ngClass] = "{'not-available' : !isAvailable}">
  <h2>{{product.name}}</h2>
  <div>{{product.description}}</div>
  <div><b>Price:</b> {{product.price}}</div>
  <div><b>Category:</b>{{product.category.toString()}}</div>
  <div><b>isAvailable:</b> {{isAvailable ? "yes": "no"}} ({{product.amount}})</div>
  <div *ngIf="product.ingredients">
    Ingredients
    <ul *ngFor="let i of product.ingredients">
      <li>{{i}}</li>
    </ul>
  </div>
  <div *ngIf="product.equivalents">
    Equivalents:
    <div *ngFor="let eq of product.equivalents">
        <label>{{eq}}</label>
    </div>
  </div>
</div>
