<div class="app-product-container">
  <h4>{{product.name}}</h4>
  <span>{{product.description}}</span>
  <span>Price: {{product.price}}</span>
  <span>Category: {{product.category.toString()}}</span>
  <span>isAvailable: {{isAvailable ? "yes": "no"}}</span><span>{{ product.amount }}</span>
  <div *ngIf="product.ingredients">
    Ingredients
    <ul *ngFor="let i of product.ingredients">
      <li>{{i}}</li>
    </ul>
  </div>
  <div *ngIf="product.equivalents">
    Equivalents:
    <div *ngFor="let eq of product.equivalents">
        <label>{{eq}}</label>
    </div>
  </div>
</div>
