<div *ngIf="isAny">
  <p>
    Cart <button (click)="onClearCart()">Clear cart</button>
  </p>
<button (click) = "orderBy('name')">Name</button>
<button (click) = "orderBy('price')">Price</button>
  <div *ngFor="let p of items | orderBy:orderStr:true">
    <app-cart-item [product] = "p" (amountChange) = "onAmountChange(p, $event)"></app-cart-item>
    <button (click) = "removeAmount(p)">-</button>
    <button (click) = "addAmount(p)">+</button>
    <button (click) = "removeProduct(p)">X</button>
  </div>
  Total : ({{totalCount}}) {{total | currency:'EUR':'symbol':'1.0-2'}}

</div>
